<form class="form__filter">
    <p>Поиск по заголовку/содержимому визита
        <input type="text" size="60" class="form__filter-title">
    </p>
    <p>Поиск по статусу
        <input type="text" size="60" class="form__filter-title">
    </p>
    <p>Срочность визита
        <input type="text" size="60" class="form__filter-title">
    </p>
</form>