
.card__patient-name,
.card__doctor {
    color: #395475;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.card__data-item {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 2.5;
}

.card {
  &__fild {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9f5ff;
    border-radius: 10px;
    width: 30%;
    padding: 1rem;
    margin: 1rem;
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__additional-info-backgraund {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000cc;
  }

  &__additional-info-card {
    text-align: center;
    background-color: #ffffff;
    width: 400px;
    border-radius: 2%;
    padding: 1.5rem 0 1.5rem;
  }
}

.button {
  background-color: #62b1f6;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #305db8e6;
}
