.conteiner__choose-doctor{
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: white;
    padding-bottom: 48px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2%;

}

.modal-background{
position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    max-width: 1100px;
    margin: 0 auto;
    background: grey;
    z-index: 20;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto;
    zoom: .8;
}



.row {
    margin-top: 0;
}

.col-12 {
    margin-top: 20px;
}

.col-md-12 {
    margin-top: 20px;
}

.container  p {
    margin-bottom: 8px;
}

.container select {
    color: #6c757d;
    border-radius: 0;
}

.container select:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: none;
}

.container input {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 0;
}

.container input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: none;
}

.closeButton {
    margin-top: 0;
    margin-left: 0;
}

.divButton {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.input-margin {
    margin-top: 20px;
}

.modal {
    height: min-content;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    border: 1px solid #198754;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalButton {
    margin-top: 0;
    letter-spacing: 1px;
}

.createVisit {
    margin-left: 0;
}

.cancelVisit {
    margin-left: 600px;
}
