.section-filters {
    margin: auto;
    width: 80%;
}

label {
  color: #395475;
}

.input-search, .select-urgency, .select-status {
    margin-right: 2%;
}

.btn-search, .btn-sort {
    font-size: 20px;
    font-weight: 30px;
    padding: 4px 20px;
    cursor: pointer;
    border: none;
    border-radius: 14%;
    color: #fff;
    background-color:  rgb(98, 177, 246);
    margin-right: 2%;
  }

.btn-search:hover{
    background: rgba(48, 93, 184, 0.9);
    transition: 0.3s;
  }
