
.header{
  display: flex;
  justify-content: space-between;
  padding: 26px 74px;
  background-color: rgb(173 217 255 / 27%);
  margin-bottom: 50px;

  
&__button-login{
  font-size: 20px;
  font-weight: 30px;
  padding: 14px 24px;
  cursor: pointer;
  border: none;
  border-radius: 14%;
  color: #fff;
  background-color:  rgb(98, 177, 246);
}
&__button-login:hover{
  background: rgba(48, 93, 184, 0.9);
  transition: 0.3s;
}


&__logo{
  width: 50px;
  height: 50px;
}
}

.login__modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 48px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 2%;

}

.login__modal--background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.login__modal--form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__modal--label {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login__input--information {
  width: 100%;
  margin-top: 12px;
  padding: 0;
  height: 45px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 4%;
  text-indent: 6px;
  outline: none;
}

.login__input--information::placeholder {
  color: rgba(190, 190, 190, 1);
}

.login__input--information:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.login__submit--btn {
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background: rgb(98, 177, 246);
  border: 0;
  width: 160px;
  height: 48px;
  border-radius: 5px;
  font-family: "Roboto";
  letter-spacing: 1px;
}

.login__submit--btn:hover{
  cursor: pointer;
  background: rgba(48, 93, 184, 0.9);
  transition: 0.3s;
}


