@import "fonts";
@import "header";
@import "chooseDoctor";
@import "card";
@import "reset";
@import "filter";
// .container{
//     max-width: 1200px;
//     margin: 0 auto;
//     background: url("@img/header/—Pngtree—blue minimalistic flat medical health_1050949.jpg") no-repeat center/cover;
//     height: 100vh;
// }
.body, .section-filters{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: fff;
    &__empty-page{
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
      
      }
  }